<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>“伴我”汽车管理平台</title>
    <!--引入easyui样式-->
    <link rel="stylesheet" href="js/jquery-easyui-1.5/themes/default/easyui.css">
    <!--引入easyui图标样式-->
    <link rel="stylesheet" href="js/jquery-easyui-1.5/themes/icon.css">
    <style>
        .topdiv{
            width:200px;
            float:left;
        }
        #topdiv{
            width: 800px;
            position:relative;
            top:-30px;
            left:450px;
        }
        #logo{
            width: 80px;
            height: 60px;
        }
        #logodiv{
            position: absolute;
            left: 50px;
            top: 15px;
        }
        #topright{
            width: 800px;
            position: relative;
            left: 200px;
            top: 10px;
        }


    </style>
</head>
<body class="easyui-layout">


<div data-options="region:'north',split:true" style="height:100px;">
    <div id="logodiv">
        <img id="logo" src="/imges/logo.jpg " />
    </div>
    <div id="topright">
        <h2>“伴我”汽车管理平台</h2>
        <div id="topdiv">

            <div class="topdiv" >
                时间： <span id="nowtime"></span>
            </div>
            <div class="topdiv" >
                用户:<span th:text="${session.username}"></span>
            </div>
            <div class="topdiv" >
                所属角色:<span th:text="${session.rolename}"></span>
            </div>
            <div class="topdiv">
                <a id="btn" href="login" class="easyui-linkbutton" >退出</a>
            </div>
        </div>
    </div>
</div>
<div data-options="region:'south',split:true" style="height:10px;"></div>
<div data-options="region:'west',title:'功能区',split:true" style="width:200px;">
    <div id="aa" class="easyui-accordion" data-options="fit:true">
        <div title="会员管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="membermanager"  class="easyui-tree">
                <li data-options="attributes:{'url':'membermanager'}">
                    <span>会员管理</span>
                </li>
            </ul>
        </div>

        <div title="资讯管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="newsmanager" class="easyui-tree">
                <li data-options="attributes:{'url':'newslist'}">
                    <span>资讯列表</span>
                </li>
                <li data-options="attributes:{'url':'draftbox'}">
                    <span>草稿箱</span>
                </li>
                <li data-options="attributes:{'url':'newsreview'}">
                    <span>资讯审核</span>
                </li>
                <li data-options="attributes:{'url':'newsrelease'}">
                    <span>资讯发布</span>
                </li>
            </ul>
        </div>

        <div title="标签管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="labelmanager" class="easyui-tree">
                <li data-options="attributes:{'url':'labeldefinition'}">
                    <span>标签定义</span>
                </li>
                <li data-options="attributes:{'url':'labelmanager'}">
                    <span>标签管理</span>
                </li>

            </ul>
        </div>

        <div title="车型库管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="carbrandmanager" class="easyui-tree">
                <li data-options="attributes:{'url':'brandmanager'}">
                    <span>品牌管理</span>
                </li>
                <li data-options="attributes:{'url':'vendormanager'}">
                    <span>厂商管理</span>
                </li>
                <li data-options="attributes:{'url':'carsystemmanager'}">
                    <span>车系管理</span>
                </li >
                <li data-options="attributes:{'url':'carmodelmanager'}">
                    <span>车款管理</span>
                </li>
                <li data-options="attributes:{'url':'parameterclassification'}">
                    <span>参数分类管理</span>
                </li>
                <li data-options="attributes:{'url':'parametermanager'}">
                    <span>参数管理</span>
                </li>
            </ul>
        </div>

        <div title="自有商品管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="owngoodsmanager" class="easyui-tree">
                <li data-options="attributes:{'url':'owngoodsmanager'}">
                    <span>自有商品管理</span>
                </li >
            </ul >
        </div>

        <div title="活动管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="activemanager" class="easyui-tree">
                <li data-options="attributes:{'url':'activemanager'}">
                    <span>活动列表</span>
                </li>
                <li data-options="attributes:{'url':'recommendedactivity'}">
                    <span>推荐活动</span>
                </li>
                <li data-options="attributes:{'url':'typemanager'}">
                    <span>类型管理</span>
                </li>
                <li data-options="attributes:{'url':'channelmanager'}">
                    <span>渠道管理</span>
                </li>
            </ul>
        </div>

        <div title="消息管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="infomanager" class="easyui-tree">
                <li data-options="attributes:{'url':'infomanager'}">
                    <span>消息管理</span>
                </li>
            </ul>
        </div>

        <div title="角色管理" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="rolemanager" class="easyui-tree">
                <li data-options="attributes:{'url':'rolemanager'}">
                    <span>角色管理</span>
                </li>
            </ul>
        </div>

        <div title="管理员列表" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="administratorlist" class="easyui-tree">
                <li data-options="attributes:{'url':'administratorlist'}">
                    <span>管理员列表</span>
                </li>
            </ul>
        </div>

        <div title="操作日志" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="operationlog" class="easyui-tree">
                <li data-options="attributes:{'url':'operationlog'}">
                    <span>操作日志</span>
                </li>
            </ul>
        </div>

        <div title="个人中心" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
            <ul id="personalcenter" class="easyui-tree">
                <li data-options="attributes:{'url':'personalcenter'}">
                    <span>个人中心</span>
                </li>
            </ul>
        </div>

    </div>
</div>
</div>


<!--右侧业务编码区-->
<div data-options="region:'center'," style="padding:5px;background:#eee;">
    <div id="tabs" class="easyui-tabs" data-options="fit:true">
        <div title="欢迎页" style="padding:20px;display:none;">
            <h2> 欢迎进入“伴我”汽车管理平台</h2>
        </div>

    </div>
</div>
<!--引入jquery类库-->
<script src="js/jquery-easyui-1.5/jquery.min.js"></script>
<!--引入easyui类库-->
<script src="js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
<!--引入easyui的字符集-->
<script src="js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
<script>
    //获取当前时间
    function displayTime() {
        var myDate = new Date();
        //获取当前年
        var year=myDate.getFullYear();
        //获取当前月
        var month=myDate.getMonth()+1;
        //获取当前日
        var date=myDate.getDate();
        var h=myDate.getHours();       //获取当前小时数(0-23)
        var m=myDate.getMinutes();     //获取当前分钟数(0-59)
        var s=myDate.getSeconds();

        var times=year+"-"+month+"-"+date+" "+h+":"+m+":"+s;
        $("#nowtime").html(times);
        //console.log(times);
        setTimeout("displayTime()",1000);
    }
    window.onload=function(){
        //在页面上显示时间
        displayTime();
    };
    $('.easyui-tree').tree({
        onClick:function(node) {
            //alert(node.text);
            //console.log(node);
            var tab = $('#tabs').tabs('getTab',node.text);
            if(tab){//选项卡已存在，让其选定
                $('#tabs').tabs('select',node.text);//执行tabs组件的select方法选择指定标题的选项卡
            }else{//选项卡不存在，则创建
                // 添加一个未选中状态的选项卡面板
                $('#tabs').tabs('add',{
                    title: node.text,  //设置titlle
                    selected: true,  //获得焦点
                    closable:true,  //可关闭
                    href: node.attributes.url  //讲树形节点的自定义资源地址设定为选项请求的资源地址
                    //...
                });
            }
        }
    });

</script>
</body>
</html>